<footer>
  <div class="d-flex justify-content-center justify-content-space-between align-items-center">
      <strong>
          <p>&copy; Velo inferno {{dateOfTheYear}}</p>
      </strong>

      <div class="archives">
        Archives
        <ul class="o-list-inline archives__list">
          <li class="o-list-inline__item archives__item"><a (click)="onClick($event, '2022')"><strong>2022</strong></a></li>
          <span class="divider"></span>
          <li class="o-list-inline__item archives__item"><a (click)="onClick($event,'2021')"><strong>2021</strong></a></li>
          <span class="divider"></span>
          <li class="o-list-inline__item archives__item"><a (click)="onClick($event, '2020')"><strong>2020</strong></a></li>
          <span class="divider"></span>
          <li class="o-list-inline__item archives__item"><a (click)="onClick($event, '2019')"><strong>2019</strong></a></li>
        </ul>
      </div>

  </div>
</footer>
