footer {
  background-color: var(--white-color);
  padding: 20px;
  font-size: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  margin: 0;
}

.archives {
  &__item {
    cursor: pointer;
  }

  &__list {
    margin: 0;
  }
}


