.margin-auto {
    margin: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-left- {
  margin-left: auto;
}

.mb-spacer {
    margin-bottom: $global-spacer;
}

.mb-spacer-half {
    margin-bottom: calc($global-spacer / 2);
}

.mb-spacer-tiny {
  margin-bottom: calc($global-spacer / 4);
}

.padding-spacer {
  padding: $global-spacer;
}

.padding-spacer--sm {
  padding: calc($global-spacer /2);
}

.padding-spacer--tiny {
  padding: calc($global-spacer /4);
}

.no-margin {
  margin: 0;
}

.gap-spacing {
    gap: $inuit-global-spacing-unit;
    &--sm {
        gap: calc($inuit-global-spacing-unit /2);
    }
    &--tiny {
        gap: calc($inuit-global-spacing-unit / 4);
    }
}
