.text-black {
    color: $font-color;
}

.text-white {
    color: $white-color;
}

.text-grey {
    color: $grey-dark;
}
.text-gold {
  color: $gold-color;
}

.text-silver {
  color: $silver-color;
}
