$border-radius-average: 10px;
$border-radius-big: 20px;
$border-radius-small: 8px;
$border-radius: 4px;

:root {
    --border-radius-average: 10px;
    --border-radius-big: 20px;
    --border-radius-small: 8px;
    --border-radius: 4px;
}

$inuit-wrapper-width: 1400px;
