.card {
  background-color: var(--white-color);
  border-radius: $border-radius-small;
  padding: $global-spacer;

  &__summary {
    border-top: 1px solid $grey-dark;
    border-bottom: 1px solid $grey-dark;
    padding-top: calc($global-spacer /2);
    padding-bottom: calc($global-spacer /2);
    margin-bottom: calc($global-spacer);
  }

  &__label {
    color: $label-color;
    font-size: 11px;
    @include font-weight("bold");
    letter-spacing: 1px;
  }

  &__category {
    font-size: 11px;
    @include font-weight("normal");
  }

  &__title {
    font-size: 24px;
    @include font-weight("bold");
    margin-bottom: calc($global-spacer / 2);
    color: var(--main-color);
  }

  &__subtitle {
    color: $font-color;
    font-size: 16px;
    letter-spacing: 1px;
    @include font-weight("bold");
  }
}
