th {
  cursor: pointer;
  line-height: 24px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

.icon-sort {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__page {
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 4px 10px;
    border-radius: var(--border-radius);
  }
}
