<ng-container *ngIf="isLoading">
  <app-loader></app-loader>
</ng-container>

<table *ngIf="!isLoading" class="mb-spacer">
  <thead>
    <tr>
      <th>Nom</th>
      <th (click)="sortBy('date')" class="position-relative">
        <span>
          Date
        </span>
        <span class="material-icons position-absolute icon-sort">
          {{sortIcon('date')}}
        </span>
      </th>
      <th (click)="sortBy('distance')" class="position-relative">
        <span>
          Distance
        </span>
        <span class="material-icons position-absolute icon-sort">
          {{sortIcon('distance')}}
        </span>
      </th>
      <th (click)="sortBy('time')" class="position-relative">
        <span>
          Temps
        </span>
        <span class="material-icons position-absolute icon-sort">
          {{sortIcon('time')}}
        </span>
      </th>
      <th (click)="sortBy('elevation')" class="position-relative">
        <span>
          Dénivelé
        </span>
        <span class="material-icons position-absolute icon-sort">
          {{sortIcon('elevation')}}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of activities | paginate
    : {
        itemsPerPage: 30,
        currentPage: pagination,
        totalItems: allRides
      }">
      <th>
        <a color="primary" [routerLink]="['/activity', item.id]">
          {{item.name}}
        </a>
      </th>
      <td>
        <div class="">{{item.date | datetime}}</div>
      </td>
      <td>
        <div class="">{{item.distance | km}} kms</div>
      </td>
      <td>
        <div class="">{{item.time | hour}}</div>
      </td>
      <td>
        <div class="">
          {{item.elevation}} m
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ng-container *ngIf="!isLoading && activities">
      <div class="d-flex justify-content-center pagination">
        <pagination-controls
          (pageChange)="renderPage($event)"
        ></pagination-controls>
      </div>
</ng-container>
